{% extends "base.html" %}

{% block table %}
<div class="col-md-10">
<h2 class="sub-header">    项目汇总</h2>
<div class="table-responsive" style="text-align:left  ">
<table id ="table_id" width="100%" border="0" class="t1 table hover table-bordered .table-condensed stripe" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>平台</th>
            <th>合同号</th>
            <th>优先级</th>
            <th>合同详情</th>
            <th>物种</th>
            <th>样品数目</th>
            <th>负责人</th>
            <th>工时</th>
            <th>机时</th>
            <th>分析登记日期</th>
            <th>刻盘日期</th>
            <th>共享方式</th>
            <th>逾期</th>
            <th>修改</th>
        </tr>
    </thead>
    <tbody>
    {%for tast in tasts reversed %}
        <tr>
            <td>{{tast.platform}}</td>
            <td>{{tast.name}}</td>
            {% if tast.priority == 1  %}
                <td bgcolor="#a52a2a"><font size="4" >加急</font></td>
            {% else %}
                <td>标准</td>
            {% endif %}
            <td>{{tast.tastinfo}}</td>
            <td>{{ tast.species }}</td>
            <td>{{tast.sample_num}}</td>
            <td>{{tast.analysts_name.all.0}}</td>
            <td>{{tast.working_hour}}</td>
            <td>{{ tast.machine_hour }}</td>
            <td>{{tast.start_time}}</td>
            <td>{{tast.analysts_end_time}}</td>
            <td>{{tast.get_transmission_mode_display}}</td>
            {% if tast.internal_extension %}
            <td bgcolor="#fafad2"><font size="3" color="red">逾期</font></td>
            {% else %}
            <td ><font size="3" color="black">正常</font></td>
            {% endif %}
            <td style="white-space: nowrap"><a href="/reedit/{{tast.id}}"><button type="button" class="btn btn-success">编辑</button></a><a href="/detail/{{tast.id}}"><button type="button" class="btn btn-danger">戳我</button></a></td>
        </tr>
    {%endfor%}
    </tbody>
</table>
        <div class="container-fluid" style="padding-bottom: 20px">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    {%include "pagination.html"%}
                </div>
            </div>
        </div>
</div>
</div>

{%endblock%}

