<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BioTask</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/login.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/Bubble.js"></script>
<script type="text/javascript" src="/static/js/jquery.grumble.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/grumble.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
<div class="login">
<form action="" method="post" id="form">
	<div class="logo"></div>
    <div class="login_form">
    	<div class="user">
        	<input class="text_value" value="" name="username" type="text" id="username">
            <input class="text_value" value="" name="password" type="password" id="password">
        </div>
        <button class="button" id="submit" type="submit">登录</button>
    </div>
    <div id="tip"></div>
    </form>
</div>
{% if errors %}
    {% for error in errors %}
        {% if error == 0 %}
            <script>
                $(document).ready(function() {
                    $('#username').grumble(
                        {
                            text: '请输入账号',
                            angle: 180,
                            distance: 0,
                            showAfter: 2000,
                            type: 'alt-',
                            hideAfter: 2000
                        }
                    );
                })
            </script>
        {% endif %}
        {% if error == 1 %}
            <script>
                $(document).ready(function() {
                    $('#password').grumble(
                        {
                            text: '请输入密码',
                            angle: 180,
                            distance: 0,
                            showAfter: 2000,
                            type: 'alt-',
                            hideAfter: 2000
                        }
                    );
                })
            </script>
        {% endif %}
        {% if error == 2 %}
            <script>
                $(document).ready(function() {
                    $('#username').grumble(
                        {
                            text: '用户名密码错误',
                            angle: 180,
                            distance: 0,
                            showAfter: 2000,
                            type: 'alt-',
                            hideAfter: 2000
                        }
                    );
                })
            </script>
        {% if error == 3 %}
            <script>
                $(document).ready(function() {
                    $('#username').grumble(
                        {
                            text: '无效账号',
                            angle: 180,
                            distance: 0,
                            showAfter: 2000,
                            type: 'alt-',
                            hideAfter: 2000
                        }
                    );
                })
            </script>
        {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
<script>var basedir='/static/js/';</script>
<script src="/static/js/do.js"></script>
<script src="/static/js/config.js"></script>
<script>
Do.ready('form', function() {
    $("#form").Validform({
        ajaxPost: true,
        postonce: true,
        tiptype: function (msg, o, cssctl) {
            if (!o.obj.is("form")) {
                var objtip = o.obj.siblings(".Validform_checktip");
                cssctl(objtip, o.type);
                objtip.text(msg);
            } else {
                var objtip = o.obj.find("#tip");
                cssctl(objtip, o.type);
                if (o.type == 2) {
                    window.location.href = 'index.php?r=admin/index/index';
                } else {
                    objtip.text(msg);
                }
            }
        }
    });
});

</script>
</body>
</html>
